/.vscode
/.idea
/raw_data/*
/raw_data/
/visualized_data/*
/visualized_data/
/cache/
/outputs/
/libcity/tmp/*
/libcity/__pycache__/
/libcity/*/__pycache__/
/libcity/**/__pycache__/
/__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env/
.venv/
/uv.lock
/newmini/
/libcity.zip

