/.vscode
/.idea
/raw_data/*
/raw_data/
/visualized_data/*
/visualized_data/
/cache/
/outputs/
/libcity/tmp/*
/libcity/__pycache__
/libcity/*/__pycache__
/libcity/data/dataset/__pycache__
/libcity/model/*/__pycache__
/libcity/data/dataset/*/__pycache__
/uv.lock
/newmini/
